{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 well">
        <h1>Welcome to Accounts Receivables for Red Point Contracting!<small><br />What would you like to do?</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <h3 class="underlined">Customer Options</h3>
            <a class="btn btn-default" href="{% url 'customers' %}">Add Customer >>></a>
        </div>
    </div>
</div>

{% endblock %}
